#root{
    padding: 40px
}
.oritext{
    padding: 10px;
    float: left;
    display: inline-block;

    
}
#keycipher{
    float: right;
    display: inline
}
.convtex{
    padding: 10px;
    float: left;
    display: inline-block
}

